@model List<TestingApplication.Models.Employee>

<h2>Employee Dashboard</h2>
<a href="/Home/Create">Add Employee</a>
<br />
<br />

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.EmpID</td>
            <td>@emp.EmpName</td>
            <td>@emp.Age</td>
            <td>@emp.Phone_Number</td>
            <td>@emp.Address</td>
            <td>
                <a href="/Home/Delete/@emp.ID" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>